.banner {
    margin-bottom: 20px; /* Adjust the desired amount of space */
    margin-right: 70px; /* Adjust the desired amount of space */
    margin-left: 70px; /* Adjust the desired amount of space */
    
  }

  :root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

.productcards {
    margin-left: 20px;
    margin-right: 20px;
}

.howitworks{
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}

.hiw-head{
    text-align: center;
}

.material-symbols-outlined{
    margin-left: 300px;
}

.banner{
    font-family: Sora, "sans-serif";
    background-image: url(images\banner-img.jpeg);
    background-position: center;
}

.body{
    color: var(#888);
    line-height: 1.7;
    
}

.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: #242933;
}