@font-face {
    font-family: 'babyface';
    src: url(/fonts/BabyFace-xj9q.woff);
}



.active {
    font-weight: 500;
}

.brand-nav {
    color: rgba(3, 89, 86, 1);
    font-family: 'babyface';
    font-size: 2.25em;
}

.nav-item {
    margin-right: 30px;
}

.carousel,
.carousel-inner {
    height: 45em;
}


.firstblock{
    margin-top: 5em;
    /* background-color: #184D47; */
    height: 41em;
    margin-left: 4em;
    margin-right: 4em;
    color: rgb(0, 0, 0);
}

.firstblockhead{
    padding-top: 2em;
    font-size: 2.70em;
}

.productsfirst{
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
}


.whatsapp{
    fill: #25D366;
}

.bg-grey{
    background-color: whitesmoke;
}

#sec-1{
    margin-top: 100px;
}

.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #242933;
}

.footer-top a {
    color: var(blue);
    text-decoration: none;
}

.footer-top a:hover {
    color: var(blue);
}

.footer-bottom {
    background-color: #242933;
}
